.main_container{
    background-image: url("./assets/lines.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    height: 100%;
}

.main_container .overlay{
    height: 100%;
    padding: 25px;
}

.main_container .overlay .overlay_container{
    background-image: url("./assets/BG.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    padding: 4rem 1rem;
}

/* serivices section */

.service-card:hover{
    background-color: #4F3DFE;
}

.card-learn-more{
    background-color: rgba(255, 255, 255, 0.31);

}

/* solutions section */
.solutions_container{
    background-image: url("./assets/lines2.png");
    background-repeat: no-repeat;
    height: 100%;
}

.works-done,
.footerBottom,
.tehnologies_used_container{
    border-top: .5px solid rgba(255, 255, 255, 0.20);
    border-bottom: .5px solid rgba(255, 255, 255, 0.20);
}

.works-done .grid_container .grid_item1,
.works-done .grid_container .grid_item2{
    border: .5px solid rgba(255, 255, 255, 0.20);
}

.works-done .grid_container .work-card-footer{
    border-top: .5px solid rgba(255, 255, 255, 0.20);

}

/* Lets talk section */

.letstalk_section{
    background-color: #4F3DFE;
}

/* About us */

@keyframes draw {
    from {
      stroke-dashoffset: 10000;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  
  path {
    stroke-dasharray: 10000;
    stroke-dashoffset: 10000;
    animation: draw 5s linear forwards;
  }
  /* Footer */

  footer.bg-lines{
    background-image: url("./assets/footerlines.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    height: 100%;
  }

  footer.bg-lines .overlay{
    height: 100%;
  }

footer .overlay .overlay_container{
    background-image: url("./assets/footerbg.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    padding: 4rem 1rem;
}

/* Individual services */
.individual_service_page_container{
    background-image: url("./assets/services_detail_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top bottom;
    background-blend-mode: overlay;
    height: 100%;
}
.individual_service_page_container .overlay{
    /* height: 100vh; */
}
.individual_service_page_container .overlay .service_title{
    background: linear-gradient(to right, #4F3DFE, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 65px;
    font-weight: 600;

}