.main_container{
    background-image: url("./assets/lines.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    height: 100%;
}

.main_container .overlay{
    height: 100%;
    padding: 25px;
}

.main_container .overlay .overlay_container{
    background-image: url("./assets/BG.png");
    background-size: cover;
    background-repeat: no-repeat;
    /* border: 1px solid red; */
    height: 100%;
    padding: 4rem 1rem;
}



